
<DOCTYPE html="html"></DOCTYPE>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <title>magchoの雑記</title>
    <link rel="stylesheet" href="{{ site.url }}assets/css/style.css"/>
    <meta name="description" content="説明文"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url}}"/>
  </head>
  <body>
    <header>
      <div>
        <div class="site-title"><a href="{{ '/' | relative_url}}">{{site.title}}</a></div>
        <nav>
          <ul>
            <li class="nav_item"><a href="{{ '/' | relative_url}}">Home</a></li>
            <li class="nav_item"><a href="{{ '/about' | relative_url}}">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p class="copyright">copyright 2018- {{site.author.name}}</p>
      <div class="social">{% if site.author.github %}
        <p class="item"><a href="https://github.com/{{site.author.github}}/">Github</a></p>{% endif %}
        {% if site.author.twitter %}
        <p class="item"><a href="https://twitter.com/{{site.author.twitter}}/">Twitter  </a></p>{% endif %}
      </div>
    </footer>
  </body>
</html>
